Django>=4.0
# Database
sqlite3
# Testing
pytest
django-debug-toolbar
# REST API
djangorestframework
# JWT Auth
djangorestframework-simplejwt
# CORS
django-cors-headers
# For user authentication (optional, if needed)
django-allauth
# For environment variables (optional)
django-environ
